<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnStr" connectionString="server=.; database = QMS; uid=sa;pwd=abc123+;"
      providerName="System.Data.SqlClient" />
    <add name="Tracker.Properties.Settings.NIBConnectionString" connectionString="Data Source=.;Initial Catalog=QMS;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>